footer {
    background-color: black;
    color: white;
    height: 2.25rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

footer a {
    color: rgb(255, 153, 0);
}

footer .frontendMentor {
    transition: all 0.15s;
}

footer .frontendMentor:hover {
    font-size: 2rem;
}

footer .self {
    transition: all 0.15s;
}

footer .self:hover {
    font-size: 2rem;
}